.sidebar{
    display: flex;
    align-items: center;
    position: relative;
    top: 150px;
    background-color: rgb(201,201,201);
    height: 200px;
    width: 55px;   
}
.sidebar ul {
    display: flex;
    flex-direction: column;
}
.sidebar li {
    margin-bottom: 5px;
    margin-top: 10px;
}
.sidebar li img {
    height: 35px;
    width: auto; /* Maintain the aspect ratio of the images */
}
.sidebar li:nth-child(1),
.sidebar li:nth-child(2),.sidebar li:nth-child(4) {
    margin-left: 8px;
}
.sidebar li:nth-child(3){
    top: 4px;
    position: relative;
}