@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Guerrilla&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Protest+Guerrilla&family=Protest+Riot&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    /* Colors */
    --primary-color: #02B3BF;
    --secondary-color: #045068;
    --accent-color: #ffc107;
    
    /* Fonts */
    --main-font: 'Arial', sans-serif;
    --heading-font: 'Roboto', sans-serif;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #007A8F;
}
